.block {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 1;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 525px;
  height: 525px;
  margin-left: auto;
  margin-right: auto;
}

.hover {
  background-color: black;
}

h1 {
  text-align: center;
}

#button-container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  #container {
    width: 100%; /* Set the width to 100% for smaller screens */
    margin-left: auto;
    margin-right: auto;
  }

  .block {
    width: calc(100% / 8); /* Adjust the width for smaller screens */
    height: calc(100% / 8); /* Adjust the height for smaller screens */
  }
}
